.container {
  margin-top: 50px;
  margin-bottom: 30px;

  > h2 {
    margin: auto auto;
    width: 330px;

    > span {
      color: #1fb841;
    }
  }
}

.cardsContainer {
  margin-top: 32px;
  display: flex;
  gap: 12;
}

.card {
  padding: 8px;
  width: 250px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 10px;
  background-color: #f3f5f7;

  > h2 {
    margin-bottom: 15px;
    color: #1fb841;
  }
}

.price {
  margin-bottom: 15px;
}

.beneficioItem {
  margin: 6px 0;
  padding: 8px 12px;
  color: #333;
  list-style-type: none;
  font-size: 14px;
  border-radius: 6px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  text-align: left;
  background-color: #ffffff;
}

.btn {
  margin-top: 30px;
  width: 70%;
  height: 50px;
  color: #fff;
  border-radius: 58px;
  background-color: #2b7adf;
}

.offsetCard {
  margin-top: 30px;
}
